<!-- {{ testUser | json}} -->


<table style="width:100%">
  <tr>
    <th>Email</th>
    <th>Username</th>
    <th>Password</th>
    <th>Emergency Contact</th>
  </tr>
  <tr>
    <td>{{testUser.email}}</td>
    <td>{{testUser.username}}</td>
    <td>{{testUser.password}}</td>
    <td>
      <table style="width:100%">
        <tr>
          <th>Name</th>
          <th>Phone Number</th>
        </tr>
        <tr *ngFor="let contact of testUser.emergencyContacts; let i = index">
          <td>{{contact.name}}</td>
          <td>{{contact.phonenumber}}</td>
        </tr>
      </table>
    </td>
  </tr>
</table>